<footer>
    <div class="footer-info">
       <div class="f-socialmedia">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
       </div>
       <div class = "f-info-brand">Elitestay Private Ltd.<sup>&copy;</sup></div>
       <div class="f-links">
         <a href="/privacy">Privacy</a>
         <a href="/terms">Terms</a>
       </div>
    </div>
</footer>